<h2>Петиция</h2>

<h3><%= @petition.title %></h3>

<p>
	<%= Time.now.strftime("%d/%m/%Y %I:%M") %><br />
  <%= @petition.description %><br />
  <h4>Голосов:</h4><%= @vote %>
  <%= button_to "Поддержать" %>
</p>
